<h2> Add a Celebrity </h2>

<form method="post" action="/celebrities">
  <label for="celebrity-name-input"> Celebrity Name
  </label>
  <input id="celebrity-name-input" type="text" placeholder="e.g. Tom Cruise" name="CelebrityName"  />
  <br />

  <label for="celebrity-occupation-input"> Celebrity Occupation
  </label>
  <input id="celebrity-occupation-input" type="text" placeholder="e.g. Actor" name="CelebrityOccupation"  />
  <br />

  <label for="celebrity-catchPhrase-input"> Celebrity CatchPhrase
  </label>
  <input id="celebrity-catchPhrase-input" type="textarea" placeholder="e.g. Show Me the Money!" name="CelebrityCatchPhrase"  />
  <br />

  <button> Save This Celebrity </button>
</form>
