<h2> Celebrity Details </h2>

<h3> Name: <%= celebrityDetails.name %> </h3>

<p> Occupation: <%= celebrityDetails.occupation %> </p>

<p> CatchPhrase: <%= celebrityDetails.catchPhrase %> </p>



<form method="post" action="/celebrities/<%= celebrityDetails._id %>/delete">
  <button> Delete This Celebrity </button>
</form>
